[Unit]
Description=Nomad Scheduler
Documentation=https://www.nomadproject.io/docs/index.html
After=network.target

[Service]
Type=simple
ExecStart={{ nomad_bin }} agent -config {{ nomad_configdir }} {{ '-dev' if nomad_devmode else '' }}

[Install]
WantedBy=multi-user.target
